<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ictedu.springapp.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.ictedu.springapp.model.MemberDTO">
        INSERT INTO member (id, email, password, name, profile_picture)
        VALUES (#{id}, #{email}, #{password}, #{name}, #{profilePicture})
    </insert>

    <select id="getUserById" parameterType="String" resultType="com.ictedu.springapp.model.MemberDTO">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>
</mapper>